nav
{
    width: 100%;
    height: 8vh;
    border: 1px solid black ;
    align-content: center;
}
nav .container  
{
    width: 90%;
    max-width: 1920px;        
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo_box
{
    width: 20%;
    border: 1px solid red;
}
.nav_links
{
    width: 40%;
    border: 1px solid blue;
}
.nav_links ul 
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.lang_provider  
{
    width: 20%;
    border: 1px solid gray;
    text-align: right;
}